.projects{
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.projects img{
    height: 100%;
    transition: 0.3s;
}

.projects a:hover img{
    opacity: 0.8;
}

@media(max-width:768px){
    .projects{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media(max-width:425px){
    .projects{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
}