.services{
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.services .service{
    padding:70px 20px;
    text-align: center;
}

.services .service img{
    width: 250px;
    margin-bottom: 30px;
} 

.services .service h3{
    font-size: 1.8rem;
    font-weight: 700;
}

.services .service p{
    font-size: 2rem;
    font-weight: 400;
    max-width: 400px;
    margin:20px auto 0;
    line-height: 25px;
}

.services .service:nth-child(1){
    background-color: lightskyblue;
}

.services .service:nth-child(2){
    background-color: lightpink;
}

@media(max-width:425px){
    .services{
        grid-template-columns: 1fr;
    }
}